doctype html
html(lang="en" xmlns:th="http://www.thymeleaf.org")
head
    title Inicia Sesión

    <!--JQUERY-->
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css")
    script(src="https://use.fontawesome.com/releases/v5.0.7/js/all.js")

    <!-- Nuestro css-->
    link(rel="stylesheet" type="text/css" href="/public/css/index.css" th:href="@{/css/index.css}")

body
    div(class="modal-dialog text-center")
        div(class="col-sm-8 main-section")
            div( class="modal-content")
                div( class="col-12 user-img")
                    img(src="/public/img/user.jpg" th:src="@{/img/user.png}")

                form(class="col-12" action="/api/auth/home" method="POST")
                    div(class="form-group" id="user-group")
                        input(type="text" class="form-control" placeholder="Nombre de usuario" name="username")

                    div(class="form-group" id="contrasena-group")
                        input(type="password" class="form-control" placeholder="Contrasena" name="password")
                    button(type="submit" class="btn btn-primary")
                        i(class="fas fa-sign-in-alt") Ingresar
                div(class="col-12 forgot")
                    a(href="#") Recordar contrasena